App.css
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body { 
	font-family: Arial, sans-serif; 
	background-color: #f0f0f0; 
	margin: 0; 
	padding: 0; 
	color: #333; 
} 

header { 
	background-color: white; 
	color: #23c483; 
	text-align: center; 
	padding: 1rem 0; 
	box-shadow: 0 4px 18px grey; 
} 

main { 
	max-width: 800px; 
	margin: 20px auto; 
	padding: 20px; 
	background-color: #fff; 
	box-shadow: 0 4px 18px grey; 
	border-radius: 15px; 
} 

.task-form { 
	display: flex; 
	flex-wrap: wrap; 
	gap: 10px; 
	margin-bottom: 20px; 
} 

.task-form input, 
.task-form select, 
.task-form button { 
	padding: 10px; 
	border: 1px solid #ccc; 
	font-size: 16px; 
	flex: 1; 
	border-radius: 10px; 
} 

button {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  }
  
  button:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }
  
  button:active {
	transform: translateY(-1px);
  }

.mark-done { 
	padding: 10px; 
	font-size: 16px; 
	flex: 1; 
	border-radius: 15px; 
	background-color: rgb(255, 255, 255); 
	color: rgb(0, 0, 0); 
	border: none; 
	cursor: pointer; 
} 

.task-list { 
	border: 1px solid #ddd; 
	padding: 10px; 
	color: #c42323
} 

table { 
	width: 100%; 
	margin-top: 20px; 
	background-color: #fff; 
	border: 1px solid #ddd; 
} 

table th, 
table td { 
	padding: 19px; 
	border-bottom: 1px solid #ddd; 
	text-align: left; 
} 

table th { 
	background-color: #eee; 
	color: black; 
	border-radius: 10px; 
} 

.completed-task-list { 
	margin-top: 20px;
	color: #23c483

} 

.completed-task { 
	padding: 10px; 
	border: 1px solid crimson; 
	border-radius: 5px; 
	background-color: #eaffea; 
	color: #23c483
} 

.completed-task h2 { 
	color: #28a745; 
} 

h2 { 
	font-size: 1.3rem; 
} 

.heading { 
	padding-bottom: 10px; 
} 

.cheading { 
	color: rgb(54, 54, 54); 
}
